#galaxy{
  background-image: url('../../assets/imgs/galaxy/background.png');
  background-size: cover;
  img{
    width: 25vmin;
    position: absolute;
    filter: drop-shadow(0px 0px 10px white);
  }

  #tatooine {
    top: 5vh;
    left: 20vw;
  }
  #c1a {
    top: 10vh;
    right: 20vw;
  }
  #dagobah {
    top: 30vh;
    left: 5vw;
  }
  #death {
    top: 30vh;
    right: 5vw;
  }
  #millenium {
    top: 55vh;
    left: 10vw;
    width: 40vmin;
  }
  #mustafar {
    top: 58vh;
    right: 10vw;
  }
  #destroyer {
    top: 72vh;
    left: 20vw;
    width: 70vmin;
  }
  #me{
    top: 45vh;
    left: 45vw;
  }

  #bb8{
      position: absolute;
      bottom: 5px;
      right: 5px;
      height: 10%;
      width: auto;
  }

  .speech-bubble{
    position: absolute;
    bottom: 15px;
    left: 5px;
    width: 85%;
    text-align: right;
    p{
      border-radius: 8px;
      background-color: black;
      color: #ffe81f;
    }
  }

}
