<!--
  Generated template for the WikiDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{getTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="container">
    <div *ngFor="let tuile of listDetails" class="element">
      <div class="name">{{tuile["title"]}}</div>

      <div *ngIf="tuile.isUrl" class="value link" > goingTo : {{tuile["value"]}} </div>

      <div *ngIf="tuile.isList" class="value"> 
        
        <div> 
          <!-- <div>willBeAList : {{tuile["value"]}} </div> -->

          <div *ngFor="let tuile2 of listDetailsDetails[tuile.title]" class="listDetailsElement">
            <p *ngIf="tuile2.isUrl" (click)="redirectTo(tuile2.url)" class="link" > goingTo : {{tuile2["value"]}} </p>
            <p *ngIf="!tuile2.isUrl">  {{tuile["value"]}} </p>
          </div>
        </div>

      </div>
      <div *ngIf="!tuile.isUrl && !tuile.isList" class="value">  {{tuile["value"]}} </div>

    </div>



    
  </div>
</ion-content>
