page-wiki-details {
  .fixed-content{
    background-image: url("../assets/imgs/detailsBackground.jpg");
    background-size: cover;
    background-position: center;
  }
  #container{
    display: flex;
    flex-direction: column;
    padding-top: 35vh;

    .element{
      width: 100%;
      min-height: 30vmin;

      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 4px;

      .name{

        font-family: STARWARS;
        font-size: 24px;
        text-transform: uppercase;
        height: 10vmin;
        width: 100%;
        background-color: #3f51b5;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        color: white;
      }
      .value{
        min-height: 20vmin;
        width: 100%;
        background-color: #2f2f2f;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;

        color: white;

        .listDetailsElement {
          width: 100%;
        }
      }

      .title{
        font-family: STARWARS;
        text-transform: uppercase;
        font-size: 44px;
        color: yellow;
        filter: drop-shadow(0px 0px 9px black);
        text-align: center;

      }

      .link {
        color:white!important;
      }
    }

  }
}
