page-home {

}

  body {
      position: relative;
      background-color: white;

  }

#bb8{
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 10%;
    width: auto;
}


.speech-bubble{
  position: absolute;
  bottom: 15px;
  left: 5px;
  width: 85%;
  text-align: right;
  p{
    background-color: #ffffe6;
  }
}
