page-sides {

  .grid {
    margin: 0px;
    padding: 0px;
  }

  #dv{
    background-image: url('../../assets/imgs/sides/DV.png');
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    animation-name: zeroToOne;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  #yd{
    background-image: url('../../assets/imgs/sides/YD.png');
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    animation-name: zeroToOne;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

    @keyframes zeroToOne{
      5%
         {
             -webkit-transform: translateY(5px);
             transform: translateY(5px);
         }
         10%
         {
             -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
         }
         16%
         {
             -webkit-transform: translateY(3px);
             transform: translateY(3px);
         }
         22%
         {
             -webkit-transform: translateY(-3px);
             transform: translateY(-3px);
         }
         27%
         {
             -webkit-transform: translateY(2px);
             transform: translateY(2px);
         }
         33%
         {
             -webkit-transform: translateY(0);
             transform: translateY(0);
         }
    }

    @keyframes oneToZero{
      0%{width: 100%;}
      50%{width:90%;}
      100%{width:100%;}
    }

  #cys{
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #cysimg{
    width: 70%;
  }

  #dark{
      width: 50vw;
      height: 100vh;
      position: absolute;
      left: 0px;
      z-index: 10;
  }

  #light{
      width: 50vw;
      height: 100vh;
      position: absolute;
      right: 0px;
      z-index: 10;
  }


}
